<div class="menu">
	<h2>Filters</h2>
	<ul class="filters">
		<h3>Time range</h3>
		<li class="range-filters">
			<label for="year-from">from</label>
			<input id="year-from"
						 type="range"
						 step="1"
						 min="<% this.minYear %>"
						 value='<% this.yearFrom %>'
						 max="<% this.maxYear %>">
			<label for="year-from"><% this.yearFrom %></label>
		</li>
		<li class="range-filters">
			<label for="year-to">to</label>
			<input id="year-to"
						 type="range"
						 step="1"
						 min="<% this.minYear %>"
						 value='<% this.yearTo %>'
						 max="<% this.maxYear %>">
			<label for="year-to"><% this.yearTo %></label>
		</li>
	</ul>
	<h4 for='dynasties'>Dynasty</h4>
	<select id='dynasties'>
		<option <% if(this.dynasty=='all') { %> selected <% } %>>all</option>
		<option <% if(this.dynasty=='Julio-Claudian') { %> selected <% } %>>Julio-Claudian</option>
		<option <% if(this.dynasty=='Flavian') { %> selected <% } %>>Flavian</option>
		<option <% if(this.dynasty=='Nerva-Antonine') { %> selected <% } %> value='Nerva-Antonine'>Nerva–Antonine</option>
		<option <% if(this.dynasty=='Severan') { %> selected <% } %>>Severan</option>
		<option <% if(this.dynasty=='Gordian') { %> selected <% } %>>Gordian</option>
		<option <% if(this.dynasty=='none') { %> selected <% } %>>None</option>
	</select>
	<h3>Sort by</h3>
	<select id='simple-styling'>
		<option value='reign-asc' <% if(this.sortBy=='reign-asc') { %> selected <% } %>>reign shortest first</option>
		<option value='reign-desc' <% if(this.sortBy=='reign-desc') { %> selected <% } %>>reign longest first</option>
		<option value='succession' <% if(this.sortBy=='succession') { %> selected <% } %>>succession ascending</option>
	</select>
</div>
